<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
   <a class="navbar-brand" href="#">Angular8 App</a>
   <ul class="navbar-nav w-100">
      <li class="nav-item active">
         <a class="nav-link" href="#">Home</a>
      </li>

      <li class="nav-item dropdown">
         <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">Examples</a>
         <div class="dropdown-menu dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" routerLink='/home/program1' routerLinkActive='active'>Program 1</a>
            <a class="dropdown-item"  routerLink='/home/program2' routerLinkActive='active'>Program 2</a>
            <a class="dropdown-item" href="#">Program 3</a>
         </div>
      </li>

      <li class="nav-item dropdown ml-auto" *ngIf="userDetails">
         <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">{{userDetails.firstName}}</a>
         <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" routerLink='/home/myProfile' routerLinkActive='active'>My Profile</a>
            <a class="dropdown-item" routerLink='/home/changePassword' routerLinkActive='active'>Change Password</a>
            <a class="dropdown-item" routerLink='' (click)="onLogout()">Log Out</a>
         </div>
      </li>

   </ul>
</nav>

<div class="container" style="margin-top:80px">
   <router-outlet></router-outlet>
</div>