<section>
    <form #forgetPasswordForm="ngForm" autocomplete="off" (submit)='onSubmit($event,forgetPasswordForm)'>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-8 col-lg-8 col-xl-6">
                    <div class="row">
                        <div class="col text-center">
                            <i class="fa fa-unlock fa-5x" aria-hidden="true"></i>
                            <p>Please enter the registered email address with us. We will send password reset link for
                                your account.</p>
                        </div>
                    </div>


                    <div class="row align-items-center mt-4">
                        <div class="col">
                            <input type="email" class="form-control" #email="ngModel" name="Email"
                                [(ngModel)]="forgetPasswordModel.Email" placeholder="Email Address"
                                [disabled]="isDisabled" required email>
                        </div>

                    </div>
                    <label class="text-danger" *ngIf="email.touched && email.errors?.required">This
                        Email is required
                    </label>
                    <label class="text-danger" *ngIf="email.touched && email.errors?.email">This
                        Email must be a valid email address
                    </label>



                    <div class="row justify-content-start mt-4">
                        <div class="col">
                            <button type="submit" class="btn btn-primary  form-control"
                                [disabled]="forgetPasswordForm.invalid || isDisabled"> Submit</button>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col text-center">
                            <p class="text-h3">Don't have an account? <a class="nav-link"
                                    routerLink="/user/registration">Register Here</a></p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </form>
</section>