<section>
    <form [formGroup]="userService.resetPasswordModel" autocomplete="off" (submit)="onSubmit()">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-8 col-lg-8 col-xl-6">
                    <div class="row">
                        <div class="col text-center">
                            <i class="fa fa-unlock-alt fa-5x" aria-hidden="true"></i>
                        </div>
                    </div>

                    <div formGroupName="Passwords">
                        <div class="row align-items-center mt-4">
                            <div class="col">
                                <input class="form-control" formControlName="Password" type="password"
                                    placeholder="Password">
                            </div>
                        </div>
                        <label class="text-danger"
                            *ngIf="userService.resetPasswordModel.get('Passwords.Password').touched && userService.resetPasswordModel.get('Passwords.Password').errors?.required">This
                            field is mandatory.</label>
                        <label class="text-danger"
                            *ngIf="userService.resetPasswordModel.get('Passwords.Password').touched && userService.resetPasswordModel.get('Passwords.Password').errors?.minlength">Minimum
                            4 characters required.</label>

                        <div class="row align-items-center mt-4">
                            <div class="col">
                                <input class="form-control" formControlName="ConfirmPassword" type="password"
                                    placeholder="Confirm Password">
                            </div>
                        </div>
                        <label class="text-danger"
                            *ngIf="userService.resetPasswordModel.get('Passwords.ConfirmPassword').touched && userService.resetPasswordModel.get('Passwords.ConfirmPassword').errors?.required">This
                            field is mandatory.</label>
                        <label class="text-danger"
                            *ngIf="userService.resetPasswordModel.get('Passwords.ConfirmPassword').touched && userService.resetPasswordModel.get('Passwords.ConfirmPassword').errors?.passwordMismatch">Confirm
                            Password does not match.</label>
                    </div>

                    <div class="row justify-content-start mt-4">
                        <div class="col">

                            <button type="submit" class="btn btn-primary  form-control"
                                [disabled]="!userService.resetPasswordModel.valid">Reset Password</button>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </form>
</section>