<form [formGroup]="userService.changePasswordModel" autocomplete="off" (submit)="onSubmit()">
    <h2>Change Password</h2>

    <div class="form-group">
        <label for="exampleInputPassword">Current Password</label>
        <input type="password" class="form-control" aria-describedby="emailHelp" formControlName="CurrentPassword"
            placeholder="Current Password">

        <small class="text-danger"
            *ngIf="userService.changePasswordModel.get('CurrentPassword').touched && userService.changePasswordModel.get('CurrentPassword').errors?.required">This
            field is mandatory.</small>
    </div>

    <div formGroupName="Passwords">
        <div class="form-group">
            <label for="exampleInputPassword">New Password</label>
            <input type="password" class="form-control" aria-describedby="emailHelp" formControlName="Password"
                placeholder="Password">

            <small class="text-danger"
                *ngIf="userService.changePasswordModel.get('Passwords.Password').touched && userService.changePasswordModel.get('Passwords.Password').errors?.required">This
                field is mandatory.</small>
            <small class="text-danger"
                *ngIf="userService.changePasswordModel.get('Passwords.Password').touched && userService.changePasswordModel.get('Passwords.Password').errors?.minlength">Minimum
                4 characters required.</small>

        </div>
        <div class="form-group">
            <label for="exampleInputPassword">Confirm Password</label>
            <input type="password" class="form-control" formControlName="ConfirmPassword"
                placeholder="Confirm Password">

            <small class="text-danger"
                *ngIf="userService.changePasswordModel.get('Passwords.ConfirmPassword').touched && userService.changePasswordModel.get('Passwords.ConfirmPassword').errors?.required">This
                field is mandatory.</small>
            <small class="text-danger"
                *ngIf="userService.changePasswordModel.get('Passwords.ConfirmPassword').touched && userService.changePasswordModel.get('Passwords.ConfirmPassword').errors?.passwordMismatch">Confirm
                Password does not match.</small>

        </div>
    </div>

    <button type="submit" class="btn btn-primary " [disabled]="!userService.changePasswordModel.valid">Change
        Password</button>
</form>